@import "../abstracts/variables";

.wrap_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: calc(100vh - 64px);

  .left_container {
    padding-top: 96px;
    width: 30%;
    background-color: $bg-grayScale;
  }

  .right_container {
    padding-top: 96px;
    width: 70%;
  }
}
