@import "../abstracts/variables";

@keyframes circleBg {
    0% {
        background-color: #e5e7eb;
    }

    50% {
        background-color: $error-color;
    }

    100% {
        background-color: #e5e7eb;
    }
}

@keyframes circleColor {
    0% {
        color: #e5e7eb;
    }

    50% {
        color: $error-color;
    }

    100% {
        color: #e5e7eb;
    }
}

.main_container {
    width: 100%;
    height: calc(100vh - 67px);
    display: flex;

    .left_container_wrapper {
        height: 100%;
        width: 85%;

        iframe {
            width: 100%;
            height: 100%;
        }

    }


    .main_container_right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 15%;
        height: 100%;
        background-color: $base-color;
        position: relative;

        .main_container_right_buttons {
            width: 100%;
            display: flex;
            gap: 0.5rem;
            justify-content: space-between;
            padding: 0.5rem;

            .main_container_right_buttons_first {
                &:first-child {
                    font-size: 14px;
                    font-weight: 600;
                    background-color: $main-color;
                    color: $font-sub-color1;
                    width: 50%;

                    &:hover {
                        background-color: $sub-color;
                    }
                }

            }

            .stu_help_btn {
                font-size: 14px;
                font-weight: 600;
                background-color: $error-color;
                color: $font-sub-color1;
                width: 50%;
            }

            .teacher_help_btn_wrapper {
                position: relative;
                width: 50%;

                .teacher_help_btn_wrapper_help {
                    font-size: 14px;
                    font-weight: 600;
                    background-color: $error-color;
                    color: $font-sub-color1;
                    width: 100%;
                }

                .teacher_help_btn_wrapper_circle {
                    animation: circleBg 2s infinite linear;
                    position: absolute;
                    width: 95%;
                    height: 1.5px;
                    background-color: $main-color;
                    border-radius: 1px;
                    left: 50%;
                    bottom: -0.8rem;
                    transform: translate(-50%, 0);
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    span {
                        animation: circleColor 2s infinite linear;
                        font-size: 12px;
                        font-weight: 600;
                        background-color: #e5e7eb;
                        padding: 0 0.3rem;
                    }
                }
            }
        }

        .main_container_right_chat {
            width: auto;
            height: 95%;
            padding: 0 0.5rem;
            margin-bottom: 2.5rem;
            overflow-y: auto;

            .main_container_right_chat_detail {
                position: absolute;
                bottom: 5px;
                left: 5px;
                right: 5px;
                display: grid;
                grid-template-columns: 5fr 2fr;
                gap: 0.3rem;

                input {
                    width: 100%;
                    font-size: 14px;
                    padding-left: 0.5rem;
                    outline: none;
                    height: 1.8rem;
                    border-radius: 5px;
                    border: none;
                }

                button {
                    display: block;
                    width: 100%;
                    font-size: 12px;
                    padding: 0.2rem;
                    background-color: $main-color;
                    color: $font-sub-color1;
                    transition-duration: 150ms;

                    &:hover {
                        background-color: $sub-color;
                    }
                }
            }
        }
    }
}

.wrap_container {

    .wrap_container_top_detail {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        margin-bottom: 12px;

        .wrap_container_top_detail_nick {
            font-size: 12px;
            color: #999;

            span {
                font-size: 14px;
            }
        }

        .wrap_container_top_content {
            background-color: $font-sub-color1;
            padding: 0.4rem;
            border-radius: 0 10px 10px 10px;
            font-size: 14px;
            font-weight: 500;
        }
    }
}

button:disabled {
    background-color: rgb(73, 72, 126);
    cursor: not-allowed;
    color: $font-sub-color1;
}

.ide_table {
    margin: 16px 0;
    width: 80%;

    thead {
        tr {
            td {
                padding: 0.8rem;
                font-size: 14px;
                color: #999;

                &:first-child {
                    border-right: 1px solid rgba(0, 0, 0, 0.06);
                    font-size: 14px;
                    color: #999;
                }
            }
        }
    }

    tbody {
        tr {
            td {
                padding: 0.5rem 1rem;
                font-size: 14px;
                font-weight: 700;

                &:first-child {
                    border-right: 1px solid rgba(0, 0, 0, 0.06);
                    cursor: pointer;
                }

                &:last-child {
                    button {
                        font-size: 12px;
                        background-color: $main-color;
                        color: $font-sub-color1;
                        padding: 6px 12px;
                        transition-duration: 150ms;

                        &:hover {
                            background-color: $sub-color;
                        }
                    }
                }
            }
        }
    }
}

.mobile {
    display: none;
}

@media (max-width:1024px) {
    .main_container {
        display: none;
    }

    .mobile {
        display: block;
        width: 100%;
        height: calc(100vh - 67px);
        background: #141E30;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #243B55, #141E30);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #243B55, #141E30);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


        position: relative;

        div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            h1 {
                color: $font-sub-color1;
                font-weight: 600;
                margin-bottom: 20px;
            }

            p {
                color: $font-sub-color1;
                line-height: 1.2rem;
                font-size: 16px;
            }
        }
    }
}