@import "../abstracts/variables";

.left_wrap_container {
  background-color: $font-sub-color1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 4rem);
  padding: 8px 4px;
  border-right: $border;

  .left_top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;

    button {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 6px;
      padding: 8px 4px;
      background-color: $font-sub-color1;
      transition-duration: 150ms;

      &:hover {
        background-color: $base-color;
      }

      svg {
        width: 20px;
        height: 20px;
      }

      span {
        font-size: 12px;
        font-weight: 700;
      }
    }
  }

  .left_bottom {
    button {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 6px;
      background-color: $font-sub-color1;
      transition-duration: 150ms;

      &:hover {
        background-color: $base-color;
      }

      svg {
        width: 20px;
        height: 20px;
      }

      span {
        font-size: 12px;
        font-weight: 700;
      }
    }
  }
}

.active {
  svg {
    fill: $main-color;
  }
  span {
    color: $main-color;
  }
}

@media (max-width:1024px) {

  .left_wrap_container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 64px;
    flex-direction: row;
    justify-content: space-between;

    .left_top{
      flex-direction: row;
    }
  }
}