@import "../abstracts/variables";

.wrap_container {
  background-color: $wrap-bg;
  width: 100%;
  height: calc(100vh - 4rem);
  display: flex;
  overflow-y: auto;

  .right_container {
    width: 100%;
    padding: 32px 64px;

    .right_container_grid_box {
      background-color: #ffffff;
      padding: 24px;
      border-radius: 8px;
      box-shadow: $box-shadow;
      overflow-y: auto;

      h4 {
        padding: 6px;
        margin-bottom: 12px;
      }

      .right_container_grid_box_detail {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;

        .item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: #f3f3f3;
          padding: 16px;
          border-radius: 8px;
          box-shadow: $box-shadow;
          transition-duration: 200ms;
          cursor: pointer;

          div {
            display: flex;
            align-items: center;
            gap: 8px;

            h5 {
              font-weight: 800;
              transition-duration: 150ms;

              &:hover {
                color: $sub-color;
              }
            }
          }

          &:hover {
            background-color: $base-color;
          }
        }
      }

    }
  }

  @media (max-width:768px) {

    .right_container {
      width: 100%;
      padding: 32px 64px;
      margin: 4rem 0;

      .right_container_grid_box {
        .right_container_grid_box_detail {
          display: grid;
          grid-template-columns: 1fr;
        }
      }
    }
  }
}

button {
  transition-duration: 150ms;
}

.before_button {
  background-color: $main-color;
  color: #ffffff;

  &:hover {
    background-color: $sub-color;
  }
}

// 채점결과 css
.detail_mark_box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 46px;
  position: relative;

  .detail_mark_box_detail {
    h4 {
      font-size: 16px;
      color: $main-color;
      margin-bottom: 0.5rem;
      font-weight: 700;
    }

    .mark_result_box_detail {
      span {
        line-height: 1.5rem;
        font-weight: 600;
      }
    }


    .sub_code_box {
      border: solid;
      border-width: thin;
      padding: 4px;
      border-radius: 4px;
      background-color: beige;

      pre {
        overflow-y: hidden;
      }
    }
  }

  &:not(:last-child) {
    position: relative;

    &::after {
      content: "";
      clear: both;
      display: block;
      width: 100%;
      height: 1px;
      background-color: #cccccc;
      position: absolute;
      right: 0;
      left: 50%;
      bottom: -1.5rem;
      transform: translateX(-50%);
    }
  }

  button {
    transition-duration: 150ms;

    &:hover {
      background-color: $main-color;
      color: $font-sub-color1;
    }
  }

  button:disabled {
    background-color: rgb(73, 72, 126);
    cursor: not-allowed;
    color: $font-sub-color1;
  }
}