@import "../abstracts/variables";

.wrap_container {
  background-color: $wrap-bg;
  width: 100%;
  overflow: scroll;
  height: calc(100vh - 4rem);

  .right_container {
    width: 100%;
    padding: 36px;

    .info_box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 36px;

      h2 {
        color: $sub-color;
      }
      .info_box_attend {
        display: flex;
        gap: 36px;
        background-color: $font-sub-color1;
        padding: 12px 24px;
        border-radius: 8px;
        box-shadow: $box-shadow;
        position: relative;

        div {
          &:nth-child(1)::after {
            content: "";
            clear: both;
            height: 3rem;
            width: 2px;
            background-color: $base-color;
            position: absolute;
            left: 33%;
            top: 50%;
            transform: translateY(-50%);
          }
          &:nth-child(2)::after {
            content: "";
            clear: both;
            height: 3rem;
            width: 2px;
            background-color: $base-color;
            position: absolute;
            right: 33%;
            top: 50%;
            transform: translateY(-50%);
          }

          display: flex;
          gap: 6px;
          flex-direction: column;

          h4 {
            color: #999999;
          }
          p {
            font-size: 24px;
            color: $sub-color;
            text-align: right;
            font-weight: 800;
          }
        }
      }
    }

    .profile_box {
      display: flex;
      justify-content: flex-start;
      gap: 64px;
      align-items: center;
      margin: 36px 0;
      background-color: $font-sub-color1;
      padding: 36px;
      border-radius: 10px;
      box-shadow: $box-shadow;

      .profile_box_after {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 12px;
        position: relative;

        &:first-child:after {
          content: "";
          clear: both;
          width: 3px;
          height: 100%;
          background-color: $sub-color;
          position: absolute;
          right: -2rem;
        }
        .profile_wrap_container {
          position: relative;

          .profile_img {
            width: 75px;
            height: 75px;
            border-radius: 50%;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
            }
          }
          .profile_img_edit {
            width: 32px;
            height: 32px;
            background-color: #999;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid #eeeeee;
            position: absolute;
            right: 0;
            bottom: 0;
            cursor: pointer;
          }
        }
        p {
          span {
            font-size: 24px;
            font-weight: 800;
            color: $sub-color;
          }
          font-size: 20px;
          font-weight: 700;
          line-height: 28px;
        }
      }
    }

    .third_box {
      margin: 36px 0;
      background-color: white;
      padding: 1.5rem 2rem;
      width: 100%;

      h4 {
        margin: 16px 0;
        color: $font-color;
      }
      p {
        margin: 16px 0;
        color: $font-sub-color2;
      }
      .setTable {
        margin: 36px 0;
        tr {
          &:nth-child(4) {
            td {
              &:last-child {
                button {
                  background-color: #d32f2f;
                  color: $font-sub-color1;
                  font-size: 12px;
                }
              }
            }
          }

          td {
            padding: 0.5rem 2rem;
            border-collapse: collapse;

            &:first-child {
              border-right: 1px solid rgba(0, 0, 0, 0.06);
            }

            // 회원 이름 변경
            .setTable_userId {
              border-collapse: collapse;

              .setTable_userId_originId {
                display: flex;
                justify-content: flex-start;
                gap: 8px;
                align-items: center;

                svg {
                  cursor: pointer;
                }
              }

              form {
                width: 20rem;
              }
            }
            // 회원 이름 변경완료

            // 회원 비밀번호 변경
            .setTable_userPw {
              border-collapse: collapse;

              .setTable_userPw_originId {
                display: flex;
                justify-content: flex-start;
                gap: 8px;
                align-items: center;

                svg {
                  cursor: pointer;
                }
              }

              form {
                width: 20rem;
              }
            }
            // 회원 비밀번호 변경완료

            // 회원 휴대폰번호 변경
            .setTable_userNum {
              border-collapse: collapse;

              .setTable_userNum_originId {
                display: flex;
                justify-content: flex-start;
                gap: 8px;
                align-items: center;

                svg {
                  cursor: pointer;
                }
              }

              form {
                width: 20rem;
              }
            }
            // 회원 휴대폰번호 변경완료
          }
        }
      }
      .buttons {
        display: flex;
        gap: 12px;
        justify-content: flex-end;

        button {
          &:first-child {
            background-color: $bg-grayScale;
            font-size: 12px;
            font-weight: 600;
          }
          &:last-child {
            background-color: $main-color;
            color: $font-sub-color1;
            font-size: 12px;
            font-weight: 600;
          }
        }
      }
    }
  }
}
