@import "../abstracts/variables";

.wrap_container {
  width: 100%;
  margin: 0 auto;
  font-family: "SUIT", sans-serif;

  .main_banner {
    position: relative;
    width: 100%;
    //   height: calc(100vh - 64px);
    height: 492px;

    .banner_video {
      display: block;
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .banner_text {
      position: absolute;
      width: 100%;
      margin: 0 auto;
      top: 0;
      bottom: 0;
      align-items: center;
      display: flex;
      gap: 8px;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 4rem;
        font-weight: 800;
        color: $font-sub-color1;
      }

      h5 {
        font-size: 1.5rem;
        font-weight: 600;
        color: $font-color;
      }
    }
  }

  .main_container {
    margin: 0 auto;

    // .main_text{
    //     margin-bottom: 24px;

    //     h1{
    //         margin-bottom: 12px;
    //     }
    // }
    .main_content {
      padding: 140px 24px;
      max-width: 1024px;
      margin: 0 auto;

      .main_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;

        .main_grid_img {
          display: flex;
          flex-direction: column;
          gap: 8px;

          .main_grid_img_first {
            span {
              color: $main-color;
              font-weight: 700;
              font-size: 20px;
            }

            h1 {
              font-size: 2.5em;
              line-height: 1.3;
              margin-bottom: 36px;
              margin-top: 8px;
            }
          }

          img {
            width: 80%;
            float: right;
          }
        }

        .main_grid_text {
          display: flex;
          gap: 12px;
          justify-content: space-evenly;
          flex-direction: column;

          h1 {
            margin-bottom: 1rem;
            color: $sub-color;
          }
          h4 {
            margin-bottom: 0.4rem;
          }

          span {
            white-space: pre-line;
            color: #999999;
            line-height: 1.2rem;
          }
        }
      }
    }

    .main_container_intro {
      width: 100%;
      background: rgb(6, 174, 213);
      background: linear-gradient(
        180deg,
        rgba(6, 174, 213, 1) 0%,
        rgba(5, 165, 219, 0) 100%
      );
      .main_container_intro_box {
        padding: 140px 0;
        width: 1320px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .main_container_intro_box_text {
          span {
            color: $sub-color;
            font-weight: 700;
            font-size: 16px;
          }
          h1 {
            color: $font-sub-color1;
            font-size: 32px;
            margin-bottom: 36px;
            margin-top: 8px;
            text-shadow: 1px 1px 14px #99999915;
          }

          .main_container_intro_box_text_div {
            display: flex;
            flex-direction: column;
            gap: 36px;

            h3 {
              font-size: 22px;
              font-weight: 700;
              color: $bg-grayScale;
              margin-bottom: 12px;
            }
            p {
              font-size: 16px;
              color: $bg-grayScale;
              line-height: 2rem;
            }
          }
        }
      }

      .main_container_member {
        padding: 140px 0;
        max-width: 1320px;
        margin: 0 auto;
        margin-bottom: 32px;

        span {
          color: $font-sub-color1;
          font-weight: 700;
          font-size: 16px;
        }
        h1 {
          color: $font-color;
          font-size: 32px;
          margin-bottom: 36px;
          margin-top: 8px;
          text-shadow: 1px 1px 14px #99999915;
        }

        .main_container_member_grid {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          gap: 32px;

          .main_container_member_grid_box {
            background-color: $font-sub-color1;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 16px;
            border-radius: 15px;
            gap: 20px;
            border: $border-bold;

            .main_container_member_grid_box_img {
              width: 100%;
              height: 100%;
              overflow: hidden;
              border-radius: 15px;
              border: $border-bold;

              img {
                width: 100%;
                height: 100%;
              }
            }

            table {
              width: 100%;

              tr {
                td {
                  &:first-child {
                    border-right: 1px solid rgba(0, 0, 0, 0.06);
                    font-size: 14px;
                    color: #999;
                    width: 25%;
                  }

                  padding: 1.2rem 8px;
                  font-weight: 600;
                }
              }
            }
          }
        }
      }
    }

    .main_container_end{
      max-width: 1320px;
      margin: 0 auto;
      padding: 80px 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 20px;

      h1{
        font-size: 3rem;
        color: $main-color;
      }
      span{
        font-size: 1.125rem;
        font-weight: 700;
        color: #999999;
      }
    }
  }
}
