@import "../abstracts/variables";

.wrap_container {
  background-color: $wrap-bg;
  width: 100%;
  overflow-y: scroll;
  height: calc(100vh - 4rem);

  .right_container {
    width: 100%;
    padding: 32px 64px;
  }

  .right_container_list {
    background-color: #ffffff;
    padding: 24px;
    border-radius: 8px;
    box-shadow: $box-shadow;

    .right_container_list_button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;

      h4 {
        padding: 6px;
      }

      .sub_btn {
        background-color: $main-color;
        color: $font-sub-color1;
        transition-duration: 150ms;

        &:hover {
          background-color: $sub-color;
        }
      }
    }

    .right_container_list_grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 36px;

      .right_container_list_grid_box {
        padding: 24px;
        border-radius: 8px;
        box-shadow: 1px 1px 14px rgba(153, 153, 153, 0.0823529412);

        h5 {
          font-size: 18px;
          font-weight: 700;
          padding: 20px 2rem;
          // padding-bottom: 20px;
          // margin-bottom: 10px;
          position: relative;
          background-color: $sub-color;
          color: $font-sub-color1;

          // &::after {
          //   content: "";
          //   clear: both;
          //   display: block;
          //   width: 85%;
          //   height: 2px;
          //   background-color: $bg-grayScale;
          //   position: absolute;
          //   bottom: 0;
          //   left: 50%;
          //   transform: translateX(-50%);
          // }
        }

        // 문제 css
        .test_list_item_wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          // width: 350px;
          padding: 0.5rem;
          transition-duration: 200ms;
          border-radius: 5px;

          &:not(:last-child) {
            position: relative;

            &::after {
              content: "";
              clear: both;
              display: block;
              width: 90%;
              height: 1px;
              background-color: $base-color;
              position: absolute;
              right: 0;
              left: 50%;
              bottom: -1px;
              transform: translateX(-50%);
            }
          }

          // 선택 됐을때
          &.selected {
            background-color: #bccfd9a6;
          }

          span {
            font-size: 16px;
            font-weight: 700;
          }

          .test_list_item_wrapper_level {
            width: 36px;
            height: 36px;
            z-index: 9999;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

      }
    }
  }
}