@import "../abstracts/variables";

.wrap_container {
    background-color: $wrap-bg;
    width: 100%;
    overflow: scroll;
    height: calc(100vh - 4rem);

    .right_container {
        width: 100%;
        padding: 32px 64px;
    }
}


.test_item_wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.test_item_box {
    background-color: aqua;
    width: 350px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;

    .test_btn {
        background-color: burlywood;
        padding: 0.4rem;

    }
}