// font-color
$main-color: #06aed5;
$sub-color: #086788;
$font-color: #111111;
$font-sub-color1: #333333;
$font-sub-color2: #999999;

// border
$border: 1px solid #e5e7eb;
$border-bold: 2px solid #e5e7eb;

// box-shadow
$box-shadow: 1px 1px 14px #99999915;

//연한 box color
$base-color: #e5e7eb;

// 중앙정렬
$margin-center: 0 auto;
