// font-color
$main-color: #06aed5;
$sub-color: #086788;
$font-color: #333333;
$font-sub-color1: #ffffff;
$font-sub-color2: #000000de;
$error-color: #d32f2f;

// border
$border: 1px solid #e5e7eb;
$border-bold: 2px solid #e5e7eb;

// box-shadow
$box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px;

//연한 box color
$base-color: #e5e7eb;
$bg-grayScale: #efefef;
$wrap-bg: #eeeeee;

// 중앙정렬
$margin-center: 0 auto;
